src/main/resources/wsdl/CxSonarWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Checkmarx.com" xmlns:s1="CxDataTypes.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Checkmarx.com">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://Checkmarx.com">
<s:import namespace="CxDataTypes.xsd"/>
<s:element name="Login">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="applicationCredentials" type="tns:Credentials"/>
<s:element minOccurs="1" maxOccurs="1" name="lcid" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="Credentials">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="User" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string"/>
</s:sequence>
</s:complexType>
<s:element name="LoginResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:CxWSResponseLoginData"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="CxWSResponseLoginData">
<s:complexContent mixed="false">
<s:extension base="tns:CxWSResponseSessionID">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="FamilyName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long"/>
<s:element minOccurs="1" maxOccurs="1" name="UserPreferedLanguageLCID" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToCreateProject" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToChangeProject" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManageUsers" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToViewCompanies" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManageCompanies" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManageServer" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToViewInstallationData" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToViewSp" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManageSp" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsScanner" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAuditor" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManagePresets" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="isAllowedToManagePredefinedCommand" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManagePostScanAction" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToModifyResultDetails" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="EnableIncrementalScan" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="ShowSaaSPackageNotificationAndErrors" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="ShowSaaSPackageDetails" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAdviseChangePassword" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManageITSServers" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="AllowedToChangeNotExploitable" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToDeleteScans" type="s:boolean"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:complexType name="CxWSResponseSessionID">
<s:complexContent mixed="false">
<s:extension base="tns:CxWSBasicRepsonse">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:complexType name="CxWSBasicRepsonse">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="IsSuccesfull" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
</s:sequence>
</s:complexType>
<s:element name="GetScansDisplayDataForAllProjects">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetScansDisplayDataForAllProjectsResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetScansDisplayDataForAllProjectsResult" type="tns:CxWSResponseScansDisplayData"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="CxWSResponseScansDisplayData">
<s:complexContent mixed="false">
<s:extension base="tns:CxWSBasicRepsonse">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ScanList" type="tns:ArrayOfScanDisplayData"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:complexType name="ArrayOfScanDisplayData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="ScanDisplayData" nillable="true" type="tns:ScanDisplayData"/>
</s:sequence>
</s:complexType>
<s:complexType name="ScanDisplayData">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ScanID" type="s:long"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToDelete" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="QueuedDateTime" type="tns:CxDateTime"/>
<s:element minOccurs="1" maxOccurs="1" name="RiskLevelScore" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="FinishedDateTime" type="tns:CxDateTime"/>
<s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:long"/>
<s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="InitiatorName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TeamName" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="IsIncremental" type="s:boolean"/>
<s:element minOccurs="0" maxOccurs="1" name="CxVersion" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="LOC" type="s:long"/>
<s:element minOccurs="1" maxOccurs="1" name="HighSeverityResults" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="MediumSeverityResults" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="LowSeverityResults" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="ScanDisplayType" type="tns:ScanType"/>
<s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Origin" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="FailedLOC" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="StatisticsCalculationDate" type="tns:CxDateTime"/>
<s:element minOccurs="1" maxOccurs="1" name="IsPublic" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsLocked" type="s:boolean"/>
</s:sequence>
</s:complexType>
<s:complexType name="CxDateTime">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Hour" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Minute" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Second" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Day" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int"/>
</s:sequence>
</s:complexType>
<s:simpleType name="ScanType">
<s:restriction base="s:string">
<s:enumeration value="UNKNOWN"/>
<s:enumeration value="ALLSCANS"/>
<s:enumeration value="REGULAR"/>
<s:enumeration value="SUBSET"/>
<s:enumeration value="PARTIAL"/>
<s:enumeration value="RUNNING"/>
</s:restriction>
</s:simpleType>
<s:element name="GetQueriesForScan">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="scanId" type="s:long"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetQueriesForScanResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetQueriesForScanResult" type="tns:CxWSResponceQuerisForScan"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="CxWSResponceQuerisForScan">
<s:complexContent mixed="false">
<s:extension base="tns:CxWSBasicRepsonse">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Queries" type="tns:ArrayOfCxWSQueryVulnerabilityData"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:complexType name="ArrayOfCxWSQueryVulnerabilityData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CxWSQueryVulnerabilityData" nillable="true" type="tns:CxWSQueryVulnerabilityData"/>
</s:sequence>
</s:complexType>
<s:complexType name="CxWSQueryVulnerabilityData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Categories" type="tns:ArrayOfCxQueryCategory"/>
<s:element minOccurs="1" maxOccurs="1" name="QueryId" type="s:long"/>
<s:element minOccurs="0" maxOccurs="1" name="QueryName" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="GroupId" type="s:long"/>
<s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Severity" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="CWE" type="s:long"/>
<s:element minOccurs="1" maxOccurs="1" name="AmountOfResults" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="LanguageName" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="QueryVersionCode" type="s:long"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfCxQueryCategory">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CxQueryCategory" nillable="true" type="tns:CxQueryCategory"/>
</s:sequence>
</s:complexType>
<s:complexType name="CxQueryCategory">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long"/>
<s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="CategoryType" type="tns:CxCategoryType"/>
</s:sequence>
</s:complexType>
<s:complexType name="CxCategoryType">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long"/>
<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="Order" type="s:int"/>
</s:sequence>
</s:complexType>
<s:element name="GetResultsForQueryQroup">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="scanId" type="s:long"/>
<s:element minOccurs="1" maxOccurs="1" name="queryGroupId" type="s:long"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetResultsForQueryQroupResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetResultsForQueryQroupResult" type="tns:CxWSResponceScanResults"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="CxWSResponceScanResults">
<s:complexContent mixed="false">
<s:extension base="tns:CxWSBasicRepsonse">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfCxWSSingleResultData"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:complexType name="ArrayOfCxWSSingleResultData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CxWSSingleResultData" nillable="true" type="tns:CxWSSingleResultData"/>
</s:sequence>
</s:complexType>
<s:complexType name="CxWSSingleResultData">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="QueryId" type="s:long"/>
<s:element minOccurs="1" maxOccurs="1" name="PathId" type="s:long"/>
<s:element minOccurs="0" maxOccurs="1" name="SourceFolder" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="SourceFile" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="SourceLine" type="s:long"/>
<s:element minOccurs="0" maxOccurs="1" name="SourceObject" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="DestFolder" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="DestFile" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="DestLine" type="s:long"/>
<s:element minOccurs="0" maxOccurs="1" name="DestObject" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="State" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Severity" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="AssignedUser" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="ResultStatus" type="s1:CompareStatusType"/>
<s:element minOccurs="0" maxOccurs="1" name="IssueTicketID" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="QueryVersionCode" type="s:long"/>
</s:sequence>
</s:complexType>
<s:element name="SaasLogin">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="applicationCredentials" type="tns:Credentials"/>
<s:element minOccurs="1" maxOccurs="1" name="lcid" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SaasLoginResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="SaasLoginResult" type="tns:CxWSResponseSaasLoginData"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="CxWSResponseSaasLoginData">
<s:complexContent mixed="false">
<s:extension base="tns:CxWSResponseLoginData">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToUseSourceControl" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="isAllowedToCreatePDF" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToUseOnlineViewer" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToUsePlugins" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToViewResultState" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToEditResultState" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToViewResultSeverity" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToEditResultSeverity" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToViewAssignTo" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToEditAssignTo" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToViewComments" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToEditComments" type="s:boolean"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:element name="Logout">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="LogoutResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="LogoutResult" type="tns:CxWSBasicRepsonse"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetResultsForQuery">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="scanId" type="s:long"/>
<s:element minOccurs="1" maxOccurs="1" name="queryId" type="s:long"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetResultsForQueryResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetResultsForQueryResult" type="tns:CxWSResponceScanResults"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetScanSummary">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="i_SessionID" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="i_ScanID" type="s:long"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetScanSummaryResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetScanSummaryResult" type="tns:CxWSResponseScanSummary"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="CxWSResponseScanSummary">
<s:complexContent mixed="false">
<s:extension base="tns:CxWSBasicRepsonse">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Started" type="tns:CxDateTime"/>
<s:element minOccurs="0" maxOccurs="1" name="Finished" type="tns:CxDateTime"/>
<s:element minOccurs="1" maxOccurs="1" name="ScanRisk" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Preset" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="LOC" type="s:long"/>
<s:element minOccurs="1" maxOccurs="1" name="FilesCount" type="s:long"/>
<s:element minOccurs="1" maxOccurs="1" name="High" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Medium" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Low" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Info" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="ScanRiskSeverity" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="ScanRiskQuantity" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="IsIncremental" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="ScanType" type="tns:ScanType"/>
<s:element minOccurs="0" maxOccurs="1" name="ScanLanguageStateCollection" type="tns:ArrayOfCxWSQueryLanguageState"/>
<s:element minOccurs="0" maxOccurs="1" name="EngineStart" type="tns:CxDateTime"/>
<s:element minOccurs="0" maxOccurs="1" name="EngineFinish" type="tns:CxDateTime"/>
<s:element minOccurs="0" maxOccurs="1" name="ScanQueued" type="tns:CxDateTime"/>
<s:element minOccurs="1" maxOccurs="1" name="TotalScanTime" type="s:long"/>
<s:element minOccurs="0" maxOccurs="1" name="StatisticsCalculationDate" type="tns:CxDateTime"/>
<s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TeamName" type="s:string"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:complexType name="ArrayOfCxWSQueryLanguageState">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CxWSQueryLanguageState" nillable="true" type="tns:CxWSQueryLanguageState"/>
</s:sequence>
</s:complexType>
<s:complexType name="CxWSQueryLanguageState">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="LanguageID" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="LanguageName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="LanguageHash" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="StateCreationDate" type="s:dateTime"/>
</s:sequence>
</s:complexType>
<s:element name="LoginBySID">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="LoginBySIDResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="LoginBySIDResult" type="tns:CxWSResponseLoginData"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetProjectCharts">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:long"/>
<s:element minOccurs="1" maxOccurs="1" name="scanType" type="tns:ScanType"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetProjectChartsResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetProjectChartsResult" type="tns:CxWSResponsProjectChartData"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="CxWSResponsProjectChartData">
<s:complexContent mixed="false">
<s:extension base="tns:CxWSBasicRepsonse">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ScansRiskLevelList" type="tns:ArrayOfProjectScansRiskLevel"/>
<s:element minOccurs="0" maxOccurs="1" name="ScanResultSummaryList" type="tns:ArrayOfProjectScansResultSummary"/>
<s:element minOccurs="0" maxOccurs="1" name="LastStatisticsCalcDate" type="tns:CxDateTime"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:complexType name="ArrayOfProjectScansRiskLevel">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="ProjectScansRiskLevel" nillable="true" type="tns:ProjectScansRiskLevel"/>
</s:sequence>
</s:complexType>
<s:complexType name="ProjectScansRiskLevel">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Label" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ScanRiskParams" type="tns:ScanRiskLevel"/>
</s:sequence>
</s:complexType>
<s:complexType name="ScanRiskLevel">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Severity" type="s:int"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfProjectScansResultSummary">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="ProjectScansResultSummary" nillable="true" type="tns:ProjectScansResultSummary"/>
</s:sequence>
</s:complexType>
<s:complexType name="ProjectScansResultSummary">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Label" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="High" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Medium" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Low" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Info" type="s:int"/>
</s:sequence>
</s:complexType>
<s:element name="SsoLogin">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="encryptedCredentials" type="tns:Credentials"/>
<s:element minOccurs="1" maxOccurs="1" name="lcid" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SsoLoginResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="SsoLoginResult" type="tns:CxWSResponseLoginData"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetProjectsWithScans">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetProjectsWithScansResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetProjectsWithScansResult" type="tns:CxWSResponseProjectsScansList"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="CxWSResponseProjectsScansList">
<s:complexContent mixed="false">
<s:extension base="tns:CxWSBasicRepsonse">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="projects" type="tns:ArrayOfCxWSResponseBasicProjectData"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:complexType name="ArrayOfCxWSResponseBasicProjectData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CxWSResponseBasicProjectData" nillable="true" type="tns:CxWSResponseBasicProjectData"/>
</s:sequence>
</s:complexType>
<s:complexType name="CxWSResponseBasicProjectData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long"/>
<s:element minOccurs="0" maxOccurs="1" name="scans" type="tns:ArrayOfCxWSResponseBasicScanData"/>
</s:sequence>
</s:complexType>
<s:complexType name="ArrayOfCxWSResponseBasicScanData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="CxWSResponseBasicScanData" nillable="true" type="tns:CxWSResponseBasicScanData"/>
</s:sequence>
</s:complexType>
<s:complexType name="CxWSResponseBasicScanData">
<s:complexContent mixed="false">
<s:extension base="tns:CxWSBasicRepsonse">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long"/>
<s:element minOccurs="0" maxOccurs="1" name="SourceId" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="ResultId" type="s:long"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:element name="GetProjectsDisplayData">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetProjectsDisplayDataResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetProjectsDisplayDataResult" type="tns:CxWSResponseProjectsDisplayData"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="CxWSResponseProjectsDisplayData">
<s:complexContent mixed="false">
<s:extension base="tns:CxWSBasicRepsonse">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="projectList" type="tns:ArrayOfProjectDisplayData"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:complexType name="ArrayOfProjectDisplayData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="ProjectDisplayData" nillable="true" type="tns:ProjectDisplayData"/>
</s:sequence>
</s:complexType>
<s:complexType name="ProjectDisplayData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Permission" type="tns:UserPermission"/>
<s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:long"/>
<s:element minOccurs="0" maxOccurs="1" name="ServiceProvider" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Owner" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Preset" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="LastScanDate" type="tns:CxDateTime"/>
<s:element minOccurs="1" maxOccurs="1" name="TotalScans" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="IsPublic" type="s:boolean"/>
</s:sequence>
</s:complexType>
<s:complexType name="UserPermission">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToDelete" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToDuplicate" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToRun" type="s:boolean"/>
<s:element minOccurs="1" maxOccurs="1" name="IsAllowedToUpdate" type="s:boolean"/>
</s:sequence>
</s:complexType>
<s:element name="GetScansDisplayData">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:long"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetScansDisplayDataResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetScansDisplayDataResult" type="tns:CxWSResponseScansDisplayData"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
<s:schema elementFormDefault="qualified" targetNamespace="CxDataTypes.xsd">
<s:simpleType name="CompareStatusType">
<s:restriction base="s:string">
<s:enumeration value="Fixed"/>
<s:enumeration value="Reoccured"/>
<s:enumeration value="New"/>
</s:restriction>
</s:simpleType>
</s:schema>
</wsdl:types>
<wsdl:message name="LoginSoapIn">
<wsdl:part name="parameters" element="tns:Login"/>
</wsdl:message>
<wsdl:message name="LoginSoapOut">
<wsdl:part name="parameters" element="tns:LoginResponse"/>
</wsdl:message>
<wsdl:message name="GetScansDisplayDataForAllProjectsSoapIn">
<wsdl:part name="parameters" element="tns:GetScansDisplayDataForAllProjects"/>
</wsdl:message>
<wsdl:message name="GetScansDisplayDataForAllProjectsSoapOut">
<wsdl:part name="parameters" element="tns:GetScansDisplayDataForAllProjectsResponse"/>
</wsdl:message>
<wsdl:message name="GetQueriesForScanSoapIn">
<wsdl:part name="parameters" element="tns:GetQueriesForScan"/>
</wsdl:message>
<wsdl:message name="GetQueriesForScanSoapOut">
<wsdl:part name="parameters" element="tns:GetQueriesForScanResponse"/>
</wsdl:message>
<wsdl:message name="GetResultsForQueryQroupSoapIn">
<wsdl:part name="parameters" element="tns:GetResultsForQueryQroup"/>
</wsdl:message>
<wsdl:message name="GetResultsForQueryQroupSoapOut">
<wsdl:part name="parameters" element="tns:GetResultsForQueryQroupResponse"/>
</wsdl:message>
<wsdl:message name="SaasLoginSoapIn">
<wsdl:part name="parameters" element="tns:SaasLogin"/>
</wsdl:message>
<wsdl:message name="SaasLoginSoapOut">
<wsdl:part name="parameters" element="tns:SaasLoginResponse"/>
</wsdl:message>
<wsdl:message name="LogoutSoapIn">
<wsdl:part name="parameters" element="tns:Logout"/>
</wsdl:message>
<wsdl:message name="LogoutSoapOut">
<wsdl:part name="parameters" element="tns:LogoutResponse"/>
</wsdl:message>
<wsdl:message name="GetResultsForQuerySoapIn">
<wsdl:part name="parameters" element="tns:GetResultsForQuery"/>
</wsdl:message>
<wsdl:message name="GetResultsForQuerySoapOut">
<wsdl:part name="parameters" element="tns:GetResultsForQueryResponse"/>
</wsdl:message>
<wsdl:message name="GetScanSummarySoapIn">
<wsdl:part name="parameters" element="tns:GetScanSummary"/>
</wsdl:message>
<wsdl:message name="GetScanSummarySoapOut">
<wsdl:part name="parameters" element="tns:GetScanSummaryResponse"/>
</wsdl:message>
<wsdl:message name="LoginBySIDSoapIn">
<wsdl:part name="parameters" element="tns:LoginBySID"/>
</wsdl:message>
<wsdl:message name="LoginBySIDSoapOut">
<wsdl:part name="parameters" element="tns:LoginBySIDResponse"/>
</wsdl:message>
<wsdl:message name="GetProjectChartsSoapIn">
<wsdl:part name="parameters" element="tns:GetProjectCharts"/>
</wsdl:message>
<wsdl:message name="GetProjectChartsSoapOut">
<wsdl:part name="parameters" element="tns:GetProjectChartsResponse"/>
</wsdl:message>
<wsdl:message name="SsoLoginSoapIn">
<wsdl:part name="parameters" element="tns:SsoLogin"/>
</wsdl:message>
<wsdl:message name="SsoLoginSoapOut">
<wsdl:part name="parameters" element="tns:SsoLoginResponse"/>
</wsdl:message>
<wsdl:message name="GetProjectsWithScansSoapIn">
<wsdl:part name="parameters" element="tns:GetProjectsWithScans"/>
</wsdl:message>
<wsdl:message name="GetProjectsWithScansSoapOut">
<wsdl:part name="parameters" element="tns:GetProjectsWithScansResponse"/>
</wsdl:message>
<wsdl:message name="GetProjectsDisplayDataSoapIn">
<wsdl:part name="parameters" element="tns:GetProjectsDisplayData"/>
</wsdl:message>
<wsdl:message name="GetProjectsDisplayDataSoapOut">
<wsdl:part name="parameters" element="tns:GetProjectsDisplayDataResponse"/>
</wsdl:message>
<wsdl:message name="GetScansDisplayDataSoapIn">
<wsdl:part name="parameters" element="tns:GetScansDisplayData"/>
</wsdl:message>
<wsdl:message name="GetScansDisplayDataSoapOut">
<wsdl:part name="parameters" element="tns:GetScansDisplayDataResponse"/>
</wsdl:message>
<wsdl:portType name="CxSonarWebServiceSoap">
<wsdl:operation name="Login">
<wsdl:input message="tns:LoginSoapIn"/>
<wsdl:output message="tns:LoginSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetScansDisplayDataForAllProjects">
<wsdl:input message="tns:GetScansDisplayDataForAllProjectsSoapIn"/>
<wsdl:output message="tns:GetScansDisplayDataForAllProjectsSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetQueriesForScan">
<wsdl:input message="tns:GetQueriesForScanSoapIn"/>
<wsdl:output message="tns:GetQueriesForScanSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetResultsForQueryQroup">
<wsdl:input message="tns:GetResultsForQueryQroupSoapIn"/>
<wsdl:output message="tns:GetResultsForQueryQroupSoapOut"/>
</wsdl:operation>
<wsdl:operation name="SaasLogin">
<wsdl:input message="tns:SaasLoginSoapIn"/>
<wsdl:output message="tns:SaasLoginSoapOut"/>
</wsdl:operation>
<wsdl:operation name="Logout">
<wsdl:input message="tns:LogoutSoapIn"/>
<wsdl:output message="tns:LogoutSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetResultsForQuery">
<wsdl:input message="tns:GetResultsForQuerySoapIn"/>
<wsdl:output message="tns:GetResultsForQuerySoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetScanSummary">
<wsdl:input message="tns:GetScanSummarySoapIn"/>
<wsdl:output message="tns:GetScanSummarySoapOut"/>
</wsdl:operation>
<wsdl:operation name="LoginBySID">
<wsdl:input message="tns:LoginBySIDSoapIn"/>
<wsdl:output message="tns:LoginBySIDSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetProjectCharts">
<wsdl:input message="tns:GetProjectChartsSoapIn"/>
<wsdl:output message="tns:GetProjectChartsSoapOut"/>
</wsdl:operation>
<wsdl:operation name="SsoLogin">
<wsdl:input message="tns:SsoLoginSoapIn"/>
<wsdl:output message="tns:SsoLoginSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetProjectsWithScans">
<wsdl:input message="tns:GetProjectsWithScansSoapIn"/>
<wsdl:output message="tns:GetProjectsWithScansSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetProjectsDisplayData">
<wsdl:input message="tns:GetProjectsDisplayDataSoapIn"/>
<wsdl:output message="tns:GetProjectsDisplayDataSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetScansDisplayData">
<wsdl:input message="tns:GetScansDisplayDataSoapIn"/>
<wsdl:output message="tns:GetScansDisplayDataSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CxSonarWebServiceSoap" type="tns:CxSonarWebServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Login">
<soap:operation soapAction="http://Checkmarx.com/Login" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetScansDisplayDataForAllProjects">
<soap:operation soapAction="http://Checkmarx.com/GetScansDisplayDataForAllProjects" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetQueriesForScan">
<soap:operation soapAction="http://Checkmarx.com/GetQueriesForScan" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetResultsForQueryQroup">
<soap:operation soapAction="http://Checkmarx.com/GetResultsForQueryQroup" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SaasLogin">
<soap:operation soapAction="http://Checkmarx.com/SaasLogin" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Logout">
<soap:operation soapAction="http://Checkmarx.com/Logout" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetResultsForQuery">
<soap:operation soapAction="http://Checkmarx.com/GetResultsForQuery" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetScanSummary">
<soap:operation soapAction="http://Checkmarx.com/GetScanSummary" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoginBySID">
<soap:operation soapAction="http://Checkmarx.com/LoginBySID" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetProjectCharts">
<soap:operation soapAction="http://Checkmarx.com/GetProjectCharts" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SsoLogin">
<soap:operation soapAction="http://Checkmarx.com/SsoLogin" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetProjectsWithScans">
<soap:operation soapAction="http://Checkmarx.com/GetProjectsWithScans" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetProjectsDisplayData">
<soap:operation soapAction="http://Checkmarx.com/GetProjectsDisplayData" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetScansDisplayData">
<soap:operation soapAction="http://Checkmarx.com/GetScansDisplayData" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="CxSonarWebServiceSoap12" type="tns:CxSonarWebServiceSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Login">
<soap12:operation soapAction="http://Checkmarx.com/Login" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetScansDisplayDataForAllProjects">
<soap12:operation soapAction="http://Checkmarx.com/GetScansDisplayDataForAllProjects" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetQueriesForScan">
<soap12:operation soapAction="http://Checkmarx.com/GetQueriesForScan" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetResultsForQueryQroup">
<soap12:operation soapAction="http://Checkmarx.com/GetResultsForQueryQroup" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SaasLogin">
<soap12:operation soapAction="http://Checkmarx.com/SaasLogin" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Logout">
<soap12:operation soapAction="http://Checkmarx.com/Logout" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetResultsForQuery">
<soap12:operation soapAction="http://Checkmarx.com/GetResultsForQuery" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetScanSummary">
<soap12:operation soapAction="http://Checkmarx.com/GetScanSummary" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoginBySID">
<soap12:operation soapAction="http://Checkmarx.com/LoginBySID" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetProjectCharts">
<soap12:operation soapAction="http://Checkmarx.com/GetProjectCharts" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SsoLogin">
<soap12:operation soapAction="http://Checkmarx.com/SsoLogin" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetProjectsWithScans">
<soap12:operation soapAction="http://Checkmarx.com/GetProjectsWithScans" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetProjectsDisplayData">
<soap12:operation soapAction="http://Checkmarx.com/GetProjectsDisplayData" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetScansDisplayData">
<soap12:operation soapAction="http://Checkmarx.com/GetScansDisplayData" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CxSonarWebService">
<wsdl:port name="CxSonarWebServiceSoap" binding="tns:CxSonarWebServiceSoap">
<soap:address location="http://localhost:1515/Cxwebinterface/Sonar/CxSonarWebService.asmx"/>
</wsdl:port>
<wsdl:port name="CxSonarWebServiceSoap12" binding="tns:CxSonarWebServiceSoap12">
<soap12:address location="http://localhost:1515/Cxwebinterface/Sonar/CxSonarWebService.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
